<form action="/insertEmployees" method="POST">	
	<p>Nome do Funcionário:</p>
	<input type="text" name="nome">
	<p>Função</p>
	<input type="text" name="funcao">
	<button type="submit">Cadastrar</button>
</form>